<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Learn {{ domain_data.language_uppercase }} - Free Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{{ domain_data.styled_domain }} is a free interactive {{ domain_data.language_uppercase }} tutorial for people who want to learn {{ domain_data.language_uppercase }}, fast." />
    <meta name="keywords" content="Learn,{{ domain_data.language_uppercase }},Tutorial,Interactive,Free" />
    <meta name="google-site-verification" content="cXWj61RCtO3fVP24Y7CO-nX0ba30tgdJYY8GGBactLI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block ogtitle %}Learn {{ domain_data.language_uppercase }} - Free Interactive {{ domain_data.language_uppercase }} Tutorial{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% block ogurl %}{{ domain_data.full_url }}{% endblock %}" />
    <meta property="og:image" content="{{ domain_data.full_url }}{{ domain_data.share_logo }}" />

    <link rel="favicon" href="{{ domain_data.favicon }}" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/codemirror.css">
    <link rel="stylesheet" href="/static/css/theme/xq-light.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/prism-light.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/learnpython.css"/>
{#    <script src="/static/js/jquery.min.js"></script>#}

</head>
<body>

<nav class="navbar navbar-expand-lg bg-light navbar-light">

    <div class="container">
    <a class="navbar-brand" href="/">
        <img src="{{ domain_data.logo }}" style="height: 24px;"/>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item mr-sm-2">
                <a class="nav-link" href="/about">About</a>
            </li>

        </ul>

    </div>

    </div>

</nav>


{% block content %}{% endblock %}

<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="/static/js/prism.js"></script>
<script src="https://cdn.datacamp.com/datacamp-light-latest.min.js"></script>

<script src="https://kit.fontawesome.com/e7efaf7ef6.js"></script>


<script src="/static/js/codemirror/codemirror.js"></script>
<script src="/static/js/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/static/js/codemirror/mode/clike/clike.js"></script>
{% if domain_data.language == "go" %}<script src="/static/js/codemirror/mode/go/go.js"></script>{% endif %}
{% if domain_data.language == "python" %}<script src="/static/js/codemirror/mode/python/python.js"></script>{% endif %}
{% if domain_data.language == "perl" %}<script src="/static/js/codemirror/mode/perl/perl.js"></script>{% endif %}
{% if domain_data.language == "php" %}<script src="/static/js/codemirror/mode/php/php.js"></script>{% endif %}
{% if domain_data.language == "javascript" %}<script src="/static/js/codemirror/mode/javascript/javascript.js"></script>{% endif %}
{% if domain_data.language == "ruby" %}<script src="/static/js/codemirror/mode/ruby/ruby.js"></script>{% endif %}
{% if domain_data.language == "shell" %}<script src="/static/js/codemirror/mode/shell/shell.js"></script>{% endif %}
{% if domain_data.language == "sql" %}<script src="/static/js/codemirror/mode/sql/sql.js"></script>{% endif %}
<script src="/static/js/codemirror/mode/xml/xml.js"></script>
<script src="/static/js/codemirror/mode/css/css.js"></script>
<script src="/static/js/codemirror/mode/htmlembedded/htmlembedded.js"></script>
<script src="/static/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootbox.min.js"></script>

{% if domain_data.language == "python" and domain_data.language_code == 'en'  %}
<script src="/static/js/datacamp.js"></script>
{% endif %}

{% block head %}{% endblock %}

</body>
</html>
